.site-header nav {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	height: 60px;
}
.site-header nav > a {
	display: inline-block;
	margin-left: 40px;
}
.site-header__logo {
	display: flex;
	align-items: center;
	height: 60px;
}
.site-header h4 {
	margin: 0;
}